$screen-mobile: 540px;
$color-background: #3d3d3d;
$color-text: #d5dbe7;

@mixin mobile {
  @media screen and (max-width: $screen-mobile) {
    @content;
  }

}

/**
 * Fonts
 */
@font-face {
  font-family: 'Athiti Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Athiti Regular'), url('/font/Athiti-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Athiti ExtraLight';
  font-style: normal;
  font-weight: normal;
  src: local('Athiti ExtraLight'), url('/font/Athiti-ExtraLight.woff') format('woff');
}

@font-face {
  font-family: 'Athiti Light';
  font-style: normal;
  font-weight: normal;
  src: local('Athiti Light'), url('/font/Athiti-Light.woff') format('woff');
}

@font-face {
  font-family: 'Athiti Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Athiti Medium'), url('/font/Athiti-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Athiti SemiBold';
  font-style: normal;
  font-weight: normal;
  src: local('Athiti SemiBold'), url('/font/Athiti-SemiBold.woff') format('woff');
}

@font-face {
  font-family: 'Athiti Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Athiti Bold'), url('/font/Athiti-Bold.woff') format('woff');
}

/**
 * Copyright 2014-2024 by Nico Hemkes <www.hemk.es>
 * CSS & Design: made by Nico Hemkes <www.hemk.es>
 */
* {
  -webkit-font-smoothing: optimizeLegibility;
  -moz-osx-font-smoothing: optimizeLegibility;
  text-rendering: optimizeLegibility;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  width: 100%;
  min-width: 220px;

  > body {
    color: $color-text;
    font: 14px 'Athiti Regular', Verdana, Arial, sans-serif;
    font-size: 1.26rem;
    height: 100%;
    background-color: $color-background;

    > .outer {
      display: flex;
      align-items: center;
      flex-direction: row;
      width: 100%;
      height: calc(100% - 50px);;

      @include mobile {
        height: auto;
      }

      > .container {
        margin: 0 auto;
        padding: 1.25rem;
        max-width: $screen-mobile * 1.45;

        @include mobile {
          height: auto;
          border-radius: 0;
          padding: 1rem;
        }

        > .media {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;

          > figure {
            img {
              border-radius: 50%;
              max-height: 100%;
              width: 189px;
              box-shadow: 8px 8px 50px 5px rgba(0, 0, 0, 0.05);
              -moz-transform: rotate(3deg);
              -webkit-transform: rotate(3deg);
              -o-transform: rotate(3deg);
              -ms-transform: rotate(3deg);
              transform: rotate(3deg); 
              -webkit-transition: all 140ms ease-in-out;
              -moz-transition: all 140ms ease-in-out;
              -o-transition: all 140ms ease-in-out;
              transition: all 140ms ease-in-out;

              &:hover {
                box-shadow: 0 0 30px 5px rgba(255, 255, 255, 0.25);
              }

            }

          }

          > .title {
            display: block;
            margin-bottom: .05rem;
            font-size: 1.856rem;
            font-weight: 600;
            font-family: 'Athiti Medium';
            letter-spacing: 1px;

            @media screen and (max-width: $screen-mobile) {
              text-align: center;
            }

          }

        }

        > .content {
          display: block;
          margin: 1.96rem 0;

          &.is-centered {
            text-align: center;
          }

          @include mobile {
            display: block;
            margin: 1.85rem auto;
          }

          > article {
            line-height: 1.80rem;

            @include mobile {
              text-align: center;
            }

            address {
              display: inline;
            }

          }

          a {
            cursor: pointer;
            color: $color-text;
            text-decoration: underline;
            opacity: 0.85;

            &:hover {
              opacity: 1;
              text-decoration: none;
            }

          }

          div.external {
            margin-top: 2.85rem;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            font-size: 1rem;
            line-height: 1.4rem;

            @include mobile {
              flex-direction: column;
              justify-content: start;
            }

            a {
              display: inline-block;
              padding: 0.2rem 1.75rem;
              background: #e9e9e9;
              margin: 0;
              border-radius: 0;
              transition: 180ms all linear;
              cursor: pointer;
              color: $color-text;
              text-decoration: none;

              @include mobile {
                display: block;
                width: 100%;
                padding: 0.35rem 0;
                border-radius: 0;
                margin: 0 0 0.6rem;
              }

              &:first-child {
                margin-left: 0;
              }

              &.is-codeberg {
                background: #2185d0;
                color: #f5f5f5;
                border: 1px solid transparent;
              }

              &.is-xing {
                background: #026466;
                border: 1px solid transparent;
                color: #dbe819;
              }

              &.is-mastodon {
                background: #563ACC;
                border: 1px solid transparent;
                color: #fff;
              }

              &.is-nokes {
                background: #45527e;
                border: 1px solid transparent;
                color: lighten($color-text, 5%);

                &:hover {
                  border-color: lighten(#354065, 6%);
                }

              }

              &.is-codeberg, &.is-xing, &.is-nokes, &.is-mastodon {
                &:hover {

                  -moz-transform: translateY(-2px);
                  -webkit-transform: translateY(-2px);
                  -o-transform: translateY(-2px);
                  -ms-transform: translateY(-2px);
                  transform: translateY(-2px);

                  @include mobile {
                    -moz-transform: translateX(3px);
                    -webkit-transform: translateX(3px);
                    -o-transform: translateX(3px);
                    -ms-transform: translateX(3px);
                    transform: translateX(3px);
                  }

                }

              }

            }

          }

        }

      }

      > .container {
        justify-content: end;
        flex-direction: column;
        line-height: 2rem;

        > h1, > h2 {
          margin: 0;
          padding: 0;
        }

        > h1 {
          font-size: 8rem;
          margin-bottom: 3rem;
        }

        > h2 {
          font-size: 2rem;
          margin-bottom: 2rem;
        }

        > a {
          display: inline-block;
          padding: 0.1rem 1.75rem;
          background: #eee;
          margin: 0 0.3rem;
          border-radius: 4px;
          font-size: 0.8rem;
          cursor: pointer;
          color: $color-background;
          font-weight: bold;
          text-decoration: none;
        }

        strong, b {
          font-family: 'Athiti Medium';
        }

        ul {
          list-style: outside;

          li {
            margin-left: 1.255rem;
          }
        }

      }

    }

    > footer {
      margin: 0 auto 0.2rem;
      text-align: center;
      font-size: .75rem;
      color: #fff;
      letter-spacing: 0.006rem;
      opacity: 0.54;
      
      @include mobile {
        font-size: .55rem;
        opacity: 1;
      }

      > a {
        color: #fff;
        text-decoration: none;
      }

    }

  }

}
