{% extends "base.html" %}

{% block title %}404 - page not found{% endblock %}

{% block content %}
	<div class="container" >

	<h3>404</h3>
	<strong>page not found</strong>

	<br/>
	<br/>
	<a href="{{ get_url(path="/") }}" title="go to startpage">open startpage</a>

</div>
{% endblock content %}