<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" lang="en">
<head lang="en">
  <meta charset="UTF-8">
  <title>{% block title %}{{ config.title }}{% endblock title %}</title>
  <meta content="Hi there! I'm Nico, a professional web developer based in germany." name="description">
  <meta name="keywords" content="nico hemkes, nico hemkes moormerland, software moormerland, nokes, nok3s, turbopixel">
  <meta name="robots" content="all">
  <link rel="canonical" href="https://hemk.es/">

  <meta property="og:title" content="@turbopixel">
  <meta content="Hi there! I'm Nico, a professional web developer." property="og:description">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://hemk.es/">

  <meta name="google-site-verification" content="q2Krnb0_Rgp_trljgZJQ2-q0YzB8tEqngn05C1EBCHQ">
  <meta name="msvalidate.01" content="F197A34FCC72ECD81407C1FAE03F62EB">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1.0">

  <link rel="stylesheet" href="{{ get_url(path='page.css', cachebust=true) }}" />
</head>
<body>
<div class="outer">
{% block content %} {% endblock %}
</div>
<footer>
  &copy; 2012 - {{ now() | date(format="%Y", timezone="Europe/Berlin") }} 
  by <a href="https://www.nokes.de/impressum" title="Imprint - www.nokes.de" rel="me nofollow">Nico Hemkes</a> 
  - <a href="/credits/" title="credits" rel="nofollow">credits</a>
</footer>

<script src="https://cdn.counter.dev/script.js" data-id="9dfa772c-a824-4302-ad8e-19e5a3db98b8" data-utcoffset="1"></script>
</body>
</html>