{% extends "base.html" %}

{% block title %}credits{% endblock %}

{% block content %}

<div class="container" >

    <div class="media">
        <span class="title is-1">credits</span>
    </div>

    <div class="content">
		<small><a href="/" title="startpage">&laquo; open startpage</a></small>
		<br/><br/>
      	<ul>
      		<li>git hosting: <a href="https://codeberg.org/turbopixel/">codeberg.org/turbopixel</a></li>
      		<li>page engine: <a href="https://getzola.org/">zola</a></li>
      		<li>webfont Athiti: <a href="https://www.cufonfonts.com/font/athiti">www.cufonfonts.com/font/athiti</a></li>
      	</ul>

    </div>

</div>

{% endblock content %}
