{% extends "base.html" %}

{% block title %}Nico Hemkes - professional backend engineer{% endblock %}

{% block content %}

<div class="container" >

    <div class="media">
        <figure>
          <a href="https://hemk.es/" title="turbopixel aká Nico Hemkes"><img alt="turbopixel / nico hemkes" src="{{ get_url(path="nicohemkes.png") }}"/></a>
        </figure>
        <span class="title is-1">@turbopixel</span>
    </div>

    <div class="content is-centered">
      <article>
        Hi! I am <strong class="author" rel="author">Nico Hemkes</strong>. I was born and reside in Germany.
        I started writing software in 2009 or 2010. Today I work as a php backend engineer in the
        <em>emergency alerting</em> software sector.
        My favorite programming languages are PHP, python and golang.
      </article>
      <div class="external">
        <a class="link is-nokes" href="https://www.nokes.de/nico-hemkes" target="_self" rel="personal site">about me</a>
        <a class="link is-codeberg" href="https://codeberg.org/turbopixel" target="_self" rel="me noopener noreferrer external">codeberg</a>
        <a class="link is-mastodon" href="https://mastodon.social/@turbopioxel" target="_blank" rel="me noopener noreferrer external">mastodon</a>
        <a class="link is-xing" href="https://www.xing.com/profile/Nico_Hemkes2" target="_blank" rel="me noopener noreferrer external">xing</a>
      </div>
    </div>

  </div>

{% endblock content %}
